<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Temp1</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
  <link href="./output.css" rel="stylesheet">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="container p-5 mx-auto">
  <%- include('./header.ejs') %>
  <main>
    <ul class="flex gap-7 justify-center my-10 border-b border-slate-200 pb-2 font-light">
      <li class="cursor-pointer">Tops</li>
      <li class="cursor-pointer">Sleeves</li>
      <li class="cursor-pointer">Bracks</li>
    </ul>
  </main>
  <div class="grid grid-cols-1 justify-items-center gap-7 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">

    <%- include("./product.ejs") %>
    <%- include("./product.ejs") %>
    <%- include("./product.ejs") %>
    <%- include("./product.ejs") %>
    <%- include("./product.ejs") %>
    <%- include("./product.ejs") %>

  </div>
  <%- include('./footer.ejs') %>
</body>

</html>